<header class="container-fluid bg-warning py-3 text-center align-middle">

  <h1>Eat-Da-Burger !</h1>

  <div class="row text-center align-middle justify-content-center">

    <img src="/assets/img/burger3.png" alt="Burger picture" width="200" height="140">

  </div>

</header>

<div class="container-fluid p-5 bg-danger">

  <div class="row text-center align-middle">

    <!-- Column 1 -->
    <div class="col-4">

      {{#each burgers}}
        {{#unless devoured}}
          <div class="row">

            <div class="col-6">
              <div class="burger-tablet bg-light my-1">{{burger_name}}</div>
            </div>

            <div class="col-6">
              <button class="devoure-it" data-id="{{id}}">Devoure It !</button>
            </div>

          </div>
        {{/unless}}
      {{/each}}

    </div>

    <!-- Column 2 --> 
    <div class="col-4">

      <form id="add-burger" method="POST" action="/api/burgers">
        <input type="text" id="bn" name="name">
        <button type="submit">Submit</button>
      </form>

    </div>

    <!-- Column 3 -->
    <div class="col-4">

      {{#each burgers}}
        {{#if devoured}}
          <div class="row">
            <div class="col-12">
              <div class="burger-tablet bg-light my-1">{{burger_name}}</div>
            </div>
          </div>
        {{/if}}
      {{/each}}

    </div>


  </div> <!-- end of row -->

</div> <!-- end of container -->



 {{!--    <th>Burgers not devoured</th>
    <th>Enter a burger you want to eat an Click the "Submit" button</th>
    <th>Devoured burgers</th>
 --}}



